form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    margin: 0, auto;
  }

  .formLabel {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 8px);
    padding: 4px;
  }